<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="~/Content/Page/detailsPage.css" />

@model TimeTracking.Models.DetailsProjectViewModel

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <h2>Details</h2>
    <div>
        <h4>Project</h4>
        @Html.HiddenFor(model => model.ProjectID)
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Owner)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Owner)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreationDate)
            </dd>

        </dl>
    </div>
    <p>
        @if (Model.IsOwner)
        {
            @Html.ActionLink("Edit Project", "Edit", new { id = Model.ProjectID }) @(" | ")
            @Html.ActionLink("Back to List", "Index")
        }
        else
        {
            @Html.ActionLink("Back to List", "Index")
        }
    </p>

    <div class="GridViewForTime">
        <div class="daterange">
            <div>
                <label>Period</label>
                <select id="period"></select>
            </div>
            <div>
                <label>From date</label>
                <input id="fromdatepicker" type="date" />
            </div>
            <div>
                <label>To date</label>
                <input id="todatepicker" type="date" />
            </div>
        </div>
        <div style="clear:both;"></div>
        <div class="timesheetentry">
            <table>
                @{
                    <thead>
                        <tr>
                            <th width="50%">
                                <label>Tasks</label>
                            </th>
                            @foreach (var item in ViewBag.dates.weekDates)
                            {
                                <th>
                                    <label>@item.DayOfWeek</label>
                                    <label>@item.Month \ @item.Day</label>
                                </th>
                            }
                        </tr>
                    </thead>
                    if (Model == null || Model.Activities == null || !Model.Activities.Any())
                    { return; }

                    <tbody>
                        @foreach (var activity in Model.Activities)
                        {
                            <tr>
                                <td>
                                    <input class="taskname" id="taskname" @activity.ActivityId value="@activity.Name" />
                                </td>
                                @foreach (var item in ViewBag.dates.weekDates)
                                {
                                    <td>
                                        <input data-date="@item" type="number" />
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
        <div>
            <div>
                <button id="create">Create</button>
                <button id="savedata">Submit</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/Pages/details-page.js"></script>
}
