<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@*<link rel="stylesheet" href="https://github.com/uxsolutions/bootstrap-datepicker" />*@
<link rel="stylesheet" href="~/Content/bootstrap-datepicker.css" />
@*<link rel="stylesheet" href="~/Content/bootstrap-datepicker.standalone.css" />*@

<link rel="stylesheet" href="~/Content/Page/detailsPage.css" />

@model TimeTracking.Models.DetailsProjectViewModel

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <h2>Details</h2>
    <div>
        <h4>Project - @Html.DisplayFor(model => model.Name)</h4>
        @Html.HiddenFor(model => model.ProjectID)
        <hr />
    </div>
    <p>
        @if (Model.IsOwner)
        {
            @Html.ActionLink("Edit Project", "Edit", new { id = Model.ProjectID }) @(" | ")
            @Html.ActionLink("Back to List", "Index")
        }
        else
        {
            @Html.ActionLink("Back to List", "Index")
        }
    </p>

    <div class="GridViewForTime">
        <div class="daterange">
            <div>
                <label>From date</label>
                <input id="fromdatepicker" required />
            </div>
            <div>
                <label>To date</label>
                <input id="todatepicker" required />
            </div>
            <div>
                Total Hours: 
                <label id="totalHours"></label>
            </div>
            @*<div>
            <input type="button" id="addworkinghrs" value="Add Hrs" />
        </div>*@
        </div>
        <div style="clear:both;"></div>
        <div>
            <table class="taskcontainer">
            </table>
        </div>

        <div class="savedata">
            <button id="savedata">Submit All</button>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/Bootstrap-Datetime-Picker.js"></script>
    <script id="details-page.js" src="~/Scripts/Pages/details-page.js" data-public-holidays="@Model.PublicHolidays"></script>
}
